<div class="custom-toast-container" id="toastContainer">
    <% if(success && success.length > 0) { %>
        <div class="custom-toast custom-toast-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="custom-toast-icon-wrap">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="custom-toast-body">
                <%= success %>
            </div>
            <button type="button" class="custom-toast-close" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    <% } %>

    <% if(error && error.length > 0) { %>
        <div class="custom-toast custom-toast-error" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="custom-toast-icon-wrap">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <div class="custom-toast-body">
                <%= error %>
            </div>
            <button type="button" class="custom-toast-close" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    <% } %>

    <% if(deleteMsg && deleteMsg.length > 0) { %>
        <div class="custom-toast custom-toast-warning" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="custom-toast-icon-wrap">
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div class="custom-toast-body">
                <%= deleteMsg %>
            </div>
            <button type="button" class="custom-toast-close" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    <% } %>
</div>