CLOUD_NAME=your_cloudinary_cloud name
CLOUD_API_KEY=Cloudninary_api_key
CLOUD_API_SECRET=cloudinary Api secret
MONGO_URL=MOngodb url
NODE_ENV=production
SECRET=yoursecretkeyhere
MAP_TOKEN=your mapbox public token
PORT=your port number